* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
font-family: 'Libre Franklin', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-color: #0F3D3E;
}

img {
  display: none;
}

img.active {
  width: 200px;
  margin-left: 200px;
  display: block;
}

main {
  background-color: red;
  width: 400px;
  height: 350px;

  background-color: #100F0F;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;

  border-radius: 20px;
}

main h1 {
  margin-top: 25px;
  color: #E2DCC8;
  margin-bottom: 20px;
}

main span {
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  background-color: transparent;
  border-bottom: 1px solid #E2DCC8;
  width: 190px;

  color: #E2DCC8;

}

form input::placeholder {
  color: #E2DCC8;
  font-size: .6rem;
  padding-left: 110px;
}

form input:focus {
  
}

label {
  color: #E2DCC8;
}

form button {
  height: 40px;
  background-color: #E2DCC8;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.result {
  display: none;
}

.result.active {
  color: #E2DCC8;
  width: 190px;
  display: block;
}

